/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px 20px;
}

.profile-image{
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid rgb(8, 91, 8);
}

.profile-user-settings {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    gap: 10px;
}

.profile-user-name{
    font-size: 28px;
    font-weight: lighter;
}

.profile-edit-btn,.profile-settings-btn {
    font-size: 14px;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: #fff;
    cursor: pointer;
}

.profile-settings-btn {
    font-size: 16px;
}

.profile-stats {
    flex-basis: 100%;
}

.profile-stats ul {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10px;
}

