/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px 20px;
}

.profile-image{
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid rgb(8, 91, 8);
}

.profile-user-settings {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    gap: 10px;
}

.profile-user-name{
    font-size: 28px;
    font-weight: lighter;
}

.profile-edit-btn,.profile-settings-btn {
    font-size: 14px;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: #fff;
    cursor: pointer;
}

.profile-settings-btn {
    font-size: 16px;
}

.profile-stats {
    flex-basis: 100%;
}

.profile-stats ul {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.profile-stats li {
    font-size: 14px;
}

.profile-stat-count {
    font-weight: 600;
}

.profile-bio {
    flex-basis: 100%;
    font-size: 14px;
    margin-top: 10px;
}

.profile-real-name {
    font-weight: 600;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    margin-top: 26px;
}

.gallery-item {
    position: relative;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

.gallery-item-info {
    position: absolute;
    top: 0;   /* cover from top */
    left: 0;
    right: 0;
    bottom: 0; /* cover to bottom */
    background: rgba(0, 0, 0, 0.4);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 10px;
    text-align: center;
}

.gallery-item:hover .gallery-item-info {
    opacity: 1;
}


.gallery-item:hover .gallery-item-info {
    opacity: 1;
}

.gallery-item-type {
    position: absolute;
    top: 8px;
    right: 8px;
    color: white;
}

.loader {
    animation: spin 1s linear infinite;
    margin: 50px auto;
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #262626;
    border-radius: 50%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 700px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

}